.loading,
.error {
  height: 100%;
  width: 100%;
  margin-left: -10%;
  margin-top: 25%;
  position: fixed;
}
.loading {
  text-align: center;
}
.error h2,
.error h3 {
  text-align: center;
  color: #a0a0a0;
  text-shadow: 0 0 0.1em #606060;
  font-weight: normal;
}
.error h2 {
  font-size: 2.7em;
}
.error h3 {
  font-size: 2.1em;
}
@media only screen and (max-device-width: 480px) {
  .loading,
  .error {
    margin-left: auto;
    margin-top: 25%;
    position: fixed;
  }
}
