#presentations li:hover span a,
#demos li:hover span a {
  color: #e0e0e0;
}
#presentations li:hover time,
#demos li:hover time {
  color: #f0f0f0;
}
#presentations time,
#demos time {
  font-size: 0.8em;
  color: #909090;
  display: block;
  padding-bottom: 0.1em;
}
#presentations span a,
#demos span a {
  display: block;
  color: #909090;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.1em;
}
#presentations span a:before,
#demos span a:before {
  content: ' - ';
}
#presentations a,
#demos a {
  font-size: 1.6em;
}
@media only screen and (max-device-width: 480px) {
  #resources span {
    display: none;
  }
}
