vendor(prop, val)
  -webkit-{prop}: val 
  -moz-{prop}:  val
  -o-{prop}: val
  -ms-{prop}: val
  {prop}: val

gradient(type)
  background: -webkit-{type}-gradient(arguments)
  background: -moz-{type}-gradient(arguments)
  background: -o-{type}-gradient(arguments)
  background: -ms-{type}-gradient(arguments)
  background: {type}-gradient(arguments)

