@import './functions'
@font-face
  font-family: 'Social'
  font-weight: normal
  src: url("../assets/fonts/socialicons.ttf") format("truetype")

body
    padding-top 50px
    font-family 'Open Sans', Helevetica, Arial, sans-serif
    background-color whiteSmoke
    
#content
    padding 20px 5% 10px

.g
    z-index 1
    vendor(transition, all .15s ease-in)

    &.exit
        vendor(transform, translateX(-125%))

    & .body
        color #444

        footer 
            a
                font-size .7em

                &:before
                    content '['

                &:after
                    content ']'
time
    float right
    font-size 0.8em
    padding-left 10px
    color #666

#svg
    position fixed
    top 0
    left 0
    height 100%
    width 100%
    z-index -1

.social
    font-family Social 

    li 
        font-size 2em
        vendor(transition, all .2s ease .1s)

        &:hover
          opacity .95 
          vendor(transform, scale(1.25))
