$sidebarwidth = 18em
$sidebarcolor = #fff
aside
  background: -webkit-linear-gradient( right, #369 65%, #257 )

  box-sizing: border-box
  position: fixed
  height: 100%
  width: $sidebarwidth
  top: 0 
  left: 0
  padding: 17em 0 0 1.5em

  box-shadow: .1em 0 .3em #257

  $textshadow = 0 0 0 #579
  //$textshadow: .07em .07em 0 #024
  h1
    margin-bottom: 1em

    a
      font-size: 1.9em
      color: $sidebarcolor
      text-shadow: $textshadow
  
  .nav
    li
      border-left: .3em solid #cef
      vendor( transition, all .25s ease .1s )

      &:hover 
        border-left-color: #79b

      a
        font-size: 1.2em
        text-shadow: $textshadow
        padding: 1em 
        color: $sidebarcolor
        display: block
        vendor( transition, all .25s ease .1s )

        &:hover
          margin-left: 1em
  
  .social
    font-family: Social 
    position: absolute
    bottom: 1% 

    li
      float: left
      margin-right: 1em
      margin-top: 1em

      a
        display: block
        color: $sidebarcolor
        font-size: 2.5em
        opacity: .5
        vendor( transition, all .25s ease .1s )

        &:hover
          opacity: .95 
          vendor( transform, scale(1.5) )
          text-shadow: 0 0 .2em #202020

@media only screen and (max-device-width: 480px) 
  aside
    height: auto
    width: 100%
    top: auto
    bottom: 0
    padding: 0
    box-shadow: -.2em 0 .5em #257

    .nav, h1
      display: none

    .social
      padding: 0
      position: relative
      bottom: 0
      padding-left: 15%

      li 
        margin: .5em 0
        padding: 0 10%

        a
          font-size: 2.5em

          &:hover
            opacity: .5
            vendor( transform, scale(1) )
            text-shadow: 0
          
