#presentations, #demos
  li:hover
    span
      a
        color: #e0e0e0
    time
      color: #f0f0f0

  // TODO see how mobile looks
  time
    font-size: .8em
    color: #909090
    display: block
    padding-bottom: .1em

  span
    a
      display: block

      color: #909090
      font-variant: small-caps
      font-weight: bold
      font-size: 1.1em

      &:before
        content: ' - '

  a
    font-size: 1.6em


@media only screen and (max-device-width: 480px) 
  #resources
    span
      display: none
