#resources
  li:hover
    span
      color: #e0e0e0

  span
    display: inline-block

    color: #909090
    font-variant: small-caps
    font-weight: bold
    font-size: 1.1em

    &:after
      content: ' - '

    &:last-child:after
      content: ''
  a
    font-size: 1.6em

@media only screen and (max-device-width: 480px) 
  #resources
    span
      display: none
