#twitter
  li:hover
    time
      color: #f0f0f0
    p
      color: #f9f9f9
  time
    font-size: 1em
    color: #909090
    display: block
    padding-bottom: .5em

  p
    font-size: 1.6em

  a
    font-size: .8em
    font-family: monospace

